$def with (archives, day, next_text, next_link, prev_text, prev_link)
    <h1><a href="/" title="Trending Archives">$day</a></h1>

    $for lang, projects in archives:
      <h2>$lang</h2>
      <ul>
          $for project in projects:
          <li>
              <a href="$project['url']">$:project['title']</a>
              $project['description']
          </li>
      </ul>
    $if prev_text:
      <h4 style="float:left;"><a href="$prev_link">$prev_text</a></h4>
    $if next_text:
      <h4 style="float:right;"><a href="$next_link">$next_text</a></h4>
